---
import Layout from '../layouts/Layout.astro';
import Heading from "fulldev-ui/components/Heading.astro";
---

<Layout title="Welcome to Astro.">
<main>
		<Heading level={1}>Level 1 Full Dev Heading</Heading>
		<Heading level={3}>A full Dev subtitle</Heading>
	</main>
</Layout>

<style>
</style>
